// Font Families
// ===
$font-family-default: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;

// Font Weights
// ===
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
